@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ff9999;
  color: rgb(0, 0, 0);
}
.MyIntro{
  text-align: center;
  color:rgb(121, 15, 15);
  font-size: larger;
  border: wheat;
  border-color:wheat;
  border-radius: 5px;
  background-color:teal;
  font-family:'Times New Roman', Times, serif;
  padding: 10px;
}
